/* 
* @Author: Katrina Uychaco
* @Date:   2015-07-22 22:30:50
* @Last Modified by:   Katrina Uychaco
* @Last Modified time: 2015-07-24 22:17:20
*/


.node {
  fill: steelblue;
  stroke: steelblue;
  stroke-width: 3px;
}

.node text { font: 12px sans-serif; }

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

th {
  text-align: center;
}

body {
  padding-left: 20px;
  font-family: 'Lato', sans-serif;
}

h4 {
  font-style: italic;
}

p {
  padding-bottom: 10px;
}
