/* 
* @Author: Katrina Uychaco
* @Date:   2015-07-22 22:30:50
* @Last Modified by:   Katrina Uychaco
* @Last Modified time: 2015-07-24 22:17:20
*/


.node {
  fill: steelblue;
  stroke: steelblue;
  stroke-width: 3px;
}

.node text { font: 12px sans-serif; }

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

th {
  text-align: center;
}

body {
  padding-left: 20px;
}

h4 {
  font-style: italic;
}

p {
  padding-bottom: 10px;
}

body {
  text-align: center;
}

input {
  text-align: center;
  border: none;
}

table {
  margin: 1em auto;
}

input[type='submit'] {
  width: 10em;
  border-radius: 1em;
}

h4 {
  background-color: rgb(173, 216, 230);
  padding: .3em;
}
